Resources:
  AWSEBSecurityGroup:
    Type: AWS::EC2::SecurityGroup
    Properties:
      VpcId: 
        "Fn::GetOptionSetting": 
          Namespace: "aws:elasticbeanstalk:application:environment"
          OptionName: "VPC_ID"
      SecurityGroupIngress:
        - CidrIp:
            "Fn::GetOptionSetting": 
              Namespace: "aws:elasticbeanstalk:application:environment"
              OptionName: "VPC_CIDR"
          FromPort: 80
          ToPort: 80
          IpProtocol: tcp
  AWSEBAutoScalingGroup:
    Type: AWS::AutoScaling::AutoScalingGroup
    Properties:
      HealthCheckType: ELB
      HealthCheckGracePeriod: 300
  AWSEBV2LoadBalancer:
    Type: AWS::ElasticLoadBalancingV2::LoadBalancer
    DeletionPolicy: Retain
    UpdateReplacePolicy: Retain

Outputs:
  LoadBalancerArn:
    Value: { "Ref" : "AWSEBV2LoadBalancer" }
    Description: The Arn of the Load Balancer